.Build
.idea
.phpunit.result.cache
composer.lock
vendor
.DS_Store
Tests/Behat/vendor
Tests/Behat/composer.lock
Documentation/_themes
Documentation/conf.py
*GENERATED*
/*.log
/.php-cs-fixer.dist.php
/.php-cs-fixer.cache
/.editorconfig
