parameters:
	level: 5
	paths:
		- ../Classes
		- ../Configuration
		- ../Tests
	ignoreErrors:
		- '#has unknown class Tpwd\\KeSearchPremium\\KeSearchPremium as its type\.#'
		- '#contains unknown class Tpwd\\KeSearchPremium\\Headless\\HeadlessApi\.#'
