<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        bootstrap="../.Build/vendor/autoload.php"
        stopOnFailure="false"
        testdox="true"
        executionOrder="random"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../Classes/</directory>
        </include>
    </source>
</phpunit>
