<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"><f:layout name="Backend/Default" />

    <f:layout name="Backend/Default" />

    <f:section name="Content">
        <div>
            <h2><f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xlf:clear_index">Clear Search Index</f:translate></h2>

            <f:if condition="{isAdmin}">
                <f:then>
                    <f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xlf:index_contains" />
                    {indexCount}
                    <f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xlf:records" />
                    <br /><br />
                    <a class="btn btn-danger" href="{moduleUrl}">Clear whole search index!</a>
                </f:then>
                <f:else>
                    <div class="alert alert-warning">
                        Clear search index: This function is available to admins only.
                    </div>
                </f:else>
            </f:if>

        </div>
    </f:section>
</html>
