<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"><f:layout name="Backend/Default" />

    <f:layout name="Backend/Default" />

    <f:section name="Content">
        <div>
            <h2><f:translate key="LLL:EXT:ke_search/Resources/Private/Language/locallang_mod.xlf:index_table_information">Index Table Information</f:translate></h2>
            <f:format.raw>{content}</f:format.raw>
        </div>
    </f:section>
</html>
