.tx-kesearch-pi1,
.tx-kesearch-pi1 input,
.tx-kesearch-pi1 select,
.tx-kesearch-pi1 button { font: inherit; }
.tx-kesearch-pi1 .clearer { display: block; height: 1px; line-height: 1px; clear: both; }
.tx-kesearch-pi1 form { margin-bottom: 1em; }
.tx-kesearch-pi1 form fieldset { margin: 0; padding: 0; }
.tx-kesearch-pi1 .kesearch_searchbox { border: none; }
.tx-kesearch-pi1 input[type="search"],
.tx-kesearch-pi1 select { background: #fff; border: 1px solid #bbb; border-radius: 2px; color: #2b2b2b; }

/* Buttons */
a.kesGreyButt,
span.resetbutt a,
span.submitbutt input {
    padding: 0.5em 3em;
    margin: 0 0.5em 0.5em 0;
    display: block;
    cursor: pointer;
    user-select: none;
    background: #f5f5f5;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    color: #444;
    text-align: center;
    text-decoration: none;
}
span.resetbutt { float: left; }
span.resetbutt a:hover,
span.submitbutt input:hover,
a.kesGreyButt:hover { background: #f8f8f8; }

/* Filters */
#kesearch_filters select { margin: 0 0 10px; padding: 0.5em; }
#kesearch_filters .list { border: 1px solid #cfcfcf; margin: 0 0 0.5em; padding: 0.5em; width: 20em; }
#kesearch_filters .list .head { display: block; border-bottom: 1px solid #cfcfcf; padding: 0.5em 0 0.5em 0; }
#kesearch_filters .list ul { padding: 0; margin: 0.5em 0 0.5em 0; list-style: none; }
#kesearch_filters .list li { display: block; list-style: none; margin: 0 0 0.5em; line-height: .75em; color: #444; }
#kesearch_filters .list li a { color: #444; }
#kesearch_filters .list li.selected { font-weight: bold; }
#kesearch_filters .list li.optionCheckBox { float: left; width: 20em; margin-bottom: 0.25em; }
#kesearch_filters .list li.optionCheckBox input[type="checkbox"] { float: left; margin: 0 0.25em 0 0; }
#kesearch_filters .list li.clearer { font-size: 0; line-height: 0; float: none; margin: 0 !important; }
#kesearch_filters label { display: block; font-weight: bold; margin: 0 0 0.25em; }

/* Search box */
div.kesearchbox { margin-bottom: .5em; }
#ke_search_sword { padding: 0.5em; }
.tx-kesearch-pi1 .general-message { padding: 0.25em; }
.tx-kesearch-pi1 .general-message .image { float: left; vertical-align: middle; margin-right: 0.5em; }

/* Results */
#kesearch_results .result-list-item { clear: both; margin: 1em 0 1.5em; padding: 0; }
#kesearch_results .result-list-item .result-number,
#kesearch_results .result-list-item .result-title { font-size: 1.25em; }
#kesearch_results .result-list-item .result-teaser { color: #707070; margin-top: 0.5em;}
.tx-kesearch-pi1 #kesearch_results .teaser_icon img { float: left; margin-right: 0.5em; }
.tx-kesearch-pi1 #kesearch_results .result-list-item .hit { color: red; font-weight: bold; }
.tx-kesearch-pi1 #kesearch_query_time { text-align: center; font-size: .8em; }

/* Pagebrowser */
.kesearch_pagebrowser ul { display: inline; margin: 0; padding: 0; }
.kesearch_pagebrowser ul li { list-style: none; display: inline-block; margin: 0; }
#kesearch_pagebrowser_top, #kesearch_pagebrowser_bottom { text-align: center; word-wrap: break-word; }
#kesearch_pagebrowser_top .pages_total,
#kesearch_pagebrowser_bottom .pages_total { padding: 0.5em 0; margin-bottom: 1em; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.kesearch_pagebrowser .active .page-link,
.kesearch_pagebrowser .pagination a { padding: 0.5em; }

/* Ordering */
.tx-kesearch-pi1 #kesearch_ordering span.down,
.tx-kesearch-pi1 #kesearch_ordering span.up { display: inline-block; width: 0; height: 0; }
.tx-kesearch-pi1 #kesearch_ordering span.down { border-color: #f00 transparent; border-style: solid solid none; border-width: 0.25em 0.25em 0; }
.tx-kesearch-pi1 #kesearch_ordering span.up { border-color: transparent transparent #f00; border-style: none solid solid; border-width: 0 0.25em 0.25em; }
.tx-kesearch-pi1 #kesearch_ordering .ordering { float: right; }
.tx-kesearch-pi1 #kesearch_ordering ul { display: inline-block; list-style: none; }
.tx-kesearch-pi1 #kesearch_ordering ul li { float: left; margin-right: 0.5em; }
.tx-kesearch-pi1 #kesearch_ordering .clearer { clear: left; }
